@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Montserrat', sans-serif; }

.container {
  height: 100vh;
  background: url(/images/bg-bottom.svg) no-repeat bottom left, url(/images/bg-top.svg) no-repeat top right;
  background-color: #f6f6fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem; }
  @media (max-width: 600px) {
    .container {
      background: url(/images/bg-top.svg) no-repeat;
      background-position: 163% -2%;
      background-size: 216px 565px;
      background-color: #f6f6fe; } }

.headline {
  font-size: 3.3rem;
  margin-bottom: 4rem;
  color: #6d708d; }
  @media (max-width: 600px) {
    .headline {
      margin-bottom: 4.6rem; } }

.toggle-container {
  margin-bottom: 6.4rem;
  display: flex;
  align-items: center; }
  @media (max-width: 600px) {
    .toggle-container {
      margin-bottom: 9rem; } }

.annually {
  margin-right: 3rem;
  font-size: 1.4rem;
  color: #b3b5c6; }

.monthly {
  margin-left: 3rem;
  font-size: 1.4rem;
  color: #b3b5c6; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right bottom, #a3a8f0, #696fdd);
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider {
  background-color: #2196f3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.row {
  display: flex;
  width: 84%;
  justify-content: center;
  align-items: center; }
  @media (max-width: 600px) {
    .row {
      display: block; } }

.box {
  width: 29%;
  padding: 3rem 2.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  text-align: center; }
  .box:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .box:nth-child(3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  @media (max-width: 600px) {
    .box {
      width: 100%;
      margin: auto;
      margin-bottom: 3rem;
      border-radius: 1rem;
      padding: 4.1rem 2.5rem; }
      .box:nth-child(1) {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem; }
      .box:nth-child(3) {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem; } }

.side-box {
  background-color: #fff; }

.center-box {
  color: #fff;
  background-image: linear-gradient(to right bottom, #a3a8f0, #696fdd);
  padding-top: 5.5rem;
  padding-bottom: 5rem; }
  @media (max-width: 600px) {
    .center-box {
      padding: 4.1rem 2.5rem; } }

.type {
  font-size: 1.7rem;
  margin-bottom: 2.6rem; }
  @media (max-width: 600px) {
    .type {
      font-size: 1.9rem; } }

.price {
  font-size: 7rem;
  margin-bottom: 2rem; }
  .price::first-letter {
    font-size: 60%;
    padding-right: 1rem;
    vertical-align: middle; }
  @media (max-width: 600px) {
    .price {
      font-size: 7.3rem;
      margin-bottom: 3.5rem; } }

.specs li {
  font-size: 1.5rem;
  border-bottom: 1px solid #b3b5c6;
  padding: 1.7rem 0;
  list-style: none; }
  .specs li:first-child {
    border-top: 1px solid #b3b5c6;
    border-bottom: 1px solid #b3b5c6; }
  .specs li:last-child {
    margin-bottom: 3rem; }
  @media (max-width: 600px) {
    .specs li {
      padding: 2rem 0; } }

.button {
  width: 100%;
  padding: 1.6rem 2rem 1.2rem 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase; }

.button-center {
  background-color: #fff;
  color: #6d708d; }
  .button-center:hover {
    background-color: transparent;
    color: #f6f6fe;
    border: 1px solid #f6f6fe; }

.button-side {
  background-image: linear-gradient(to right bottom, #a3a8f0, #696fdd);
  color: #fff; }
  .button-side:hover {
    background-image: none;
    background-color: transparent;
    color: #6d708d;
    border: 1px solid #494c5f; }

.attribution {
  font-size: 11px;
  text-align: center; }
  @media (max-width: 600px) {
    .attribution {
      display: none; } }

.attribution a {
  color: #3e52a3; }
